elm-stuff
node_modules
serve
dist
bower_components

# WebDriverIO
*.jar
geckodriver
errorShots/

# Ignore the local config file, which exists in the repo, but should
# no longer be changed.
LocalConfig.elm
