sudo: required
language: php
php:
- 5.6
env:
  matrix:
  - BUILD_SERVER=1
  - BUILD_CLIENT=1
  - BUILD_WEBDRIVERIO=1 BUILD_SERVER=1
  - CODE_REVIEW=1 REVIEW_STANDARD="Drupal"
  - CODE_REVIEW=1 REVIEW_STANDARD="DrupalPractice"
  global:
  - secure: GX8KrT3dB0JMAKGCp6ktBkSFb0X1KWxkS5tpKHjpohBnI/vqzmhqNcnJyGIE3SFIZIyH4HKfJPJc+eYogvbQ+YGk5HgaKTN5/pcPgKPt5V0xIUzt9xGpWH5bh0WD7Kws1TW+TGAm4aCaGDPHa+o+JCDzF5cdxldeF0NhVNhYLauVQCrSR1MYJk911LXzfaOYDZJZ53TMTtLb83GB5U7Z6pvzKKXd/D4ywfk49VgooSak45dMHKCOuPv/XF3OZDe2JQnZBQVqhf7irpdcBoyWPO1XQddxTPvuZ6ZR3oq42XWx2CQt/6w/ItaZZRS8qtaqZ+/dPxwRBnhQ39bMX6XIPmuvVAO1ikjbINcUzomITN0A0Au0Rex2m4KfQqQWIghM8oEAvoGKx7vm9bmyqON3oiIlBaQXUuyw6azbf0+UBppvCAN7MVpjJIuIpblFScqSRPJlRAZanSFyZ5TWb3yK/54kxKHPeU0+7rcd6yYeeDLpUIFbP7GhzCwPZ+VkfCN8FOOh9Y7aWCHW7BMK6S5s92lnXZvJpOYnih00tdmMrkcsyqWyLMxeMYxuyluxbD52mW4f5MlLefZ5CbFXdXndoPJEDTpLXL4EoAQiBJY5kDNjw2O0VFNHNzhvi+a06alfub4tN1TU4QFNoA43owlVUDjqdRzMhJjUE0AHQpzyrwo=
services:
- docker
before_install:
- composer self-update
- export PATH="$HOME/.config/composer/vendor/bin:$PATH"
- sudo pip install docker-compose
- openssl aes-256-cbc -K $encrypted_b2dc5bc8fb77_key -iv $encrypted_b2dc5bc8fb77_iv
  -in gdrive-service-account.json.enc -out gdrive-service-account.json -d
install:
- "$TRAVIS_BUILD_DIR/ci-scripts/install_client.sh"
- "$TRAVIS_BUILD_DIR/ci-scripts/install_coder.sh"
- "$TRAVIS_BUILD_DIR/ci-scripts/install_server.sh"
before_script:
- "$TRAVIS_BUILD_DIR/ci-scripts/prepare_client.sh"
-  sudo service postgresql stop
-  sudo service mysql stop
script:
- "$TRAVIS_BUILD_DIR/ci-scripts/test_client.sh"
- "$TRAVIS_BUILD_DIR/ci-scripts/test_coder.sh"
- "$TRAVIS_BUILD_DIR/ci-scripts/test_server.sh"
cache:
  directories:
  - client/elm-stuff/packages
  - client/sysconfcpus
