* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5 !important;
}
// Push the main content, when responsive sidebar is opened.

.pusher.dimmed {
  transform: translate3d(210px, 0, 0);
}

.ui {
  &.main.grid {
    left: 18.75%;
    position: relative;
    width: 81.25%;

    .ui.secondary.pointing.fluid.menu h2 {
      margin: 2.5rem 0 1rem;
    }

    & > div:nth-child(2) {
      // Allow the main content to be full width.
      width: 100%;
    }
  }

  &.fixed.inverted.main.menu {
    display: none;
  }

  &.left.fixed.vertical.inverted.menu {
    padding-left: 0;
    padding-right: 0;

    a.item:first-child {
      padding-bottom: 30px;
      padding-top: 30px;
    }
  }

  &.sidebar.inverted.vertical.menu a.item:first-child {
    padding-bottom: 15px;
    padding-top: 30px;
  }
}
// SMARTPHONE
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .ui {
    &.mobile.cards {
      display: flex;
    }

    &.main.grid .row {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .ui {
    &.header {
      margin: 3rem 0 1rem;
    }

    &.left.fixed.vertical.inverted.menu {
      display: none;
    }

    &.fixed.inverted.main.menu {
      display: block;
    }

    &.main.grid {
      left: 0;
      margin: 0 auto;
      padding: 2.75rem 0 0;
      position: relative;
      width: 100%;
    }
  }
}

// TABLET
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui {
    &.header {
      margin: 3rem 0 1rem;
    }

    &.left.fixed.vertical.inverted.menu {
      display: none;
    }

    &.fixed.inverted.main.menu {
      display: block;
    }

    &.main.grid {
      left: 0;
      padding-top: 2.75rem !important;
      position: relative;
      width: 100%;
    }
  }
}
@media only screen and (min-width: 992px) {
  .ui {
    &.fixed.inverted.main.menu {
      display: none;
    }

    &.left.fixed.vertical.inverted.menu {
      display: block;
    }
  }
}
