# Drupal profile #
##################
hedley/modules/contrib
hedley/modules/development
hedley/1
hedley/themes/contrib
hedley/libraries

# Temporary "build" files
www

# Local Configuration
config.sh
prepare_db_for_dev.sh
pantheon-install.sh
