#!/bin/bash

# 1. Make sure you have the alias setup (use `drush sa` too see the aliases).
# 2. Make sure you have a settings.php file in the Pantheon repo, as it is needed
#    for drush si to work.

PROFILE="hedley"

MAKE_DIR="/var/www/hedley"
PANTHEON_DIR="/var/www/pantheon-hedley"
PANTHEON_ALIAS="@pantheon.hedley.dev"

# Some variable definitions
BOLD=`tput bold`
NORMAL=`tput sgr0`
GREEN='\e[0;32m'

printf "${GREEN}git pull from the Pantheon folder.${NORMAL}\n"

cd $PANTHEON_DIR
git pull

printf "${GREEN}Sync new code into the Pantheon folder.${NORMAL}\n"

rm -rf $PANTHEON_DIR/profiles/$PROFILE
cp -R $MAKE_DIR/server/$PROFILE $PANTHEON_DIR/profiles/$PROFILE

rm -rf $PANTHEON_DIR/sites/all
cp -R $MAKE_DIR/server/www/sites/all $PANTHEON_DIR/sites/all


printf "${GREEN}Build app and sync to the Pantheon folder.${NORMAL}\n"
cd $MAKE_DIR/client
elm-package install -y
bower install
gulp publish
rm -rf $PANTHEON_DIR/app
mkdir $PANTHEON_DIR/app
cp -R $MAKE_DIR/client/dist/ $PANTHEON_DIR/app


cd $PANTHEON_DIR
printf "${GREEN}Git commit new code.${NORMAL}\n"
git add . --all
git commit -am "Site update"
git push

cd $MAKE_DIR/server
printf "${GREEN}Drop existing DB and start a new installation.${NORMAL}\n"

# Execute Pantheon install outside of the Pantheon Dir.
drush $PANTHEON_ALIAS sql-drop -y

drush $PANTHEON_ALIAS si -y $PROFILE --account-pass=admin

printf "${GREEN}Migrate content.${NORMAL}\n"
drush $PANTHEON_ALIAS en hedley_migrate --yes --strict=0
drush $PANTHEON_ALIAS migrate-register --user=1 --strict=0
drush $PANTHEON_ALIAS mi --all --user=1 --strict=0
drush $PANTHEON_ALIAS dis migrate --yes  --strict=0

printf "${GREEN} Generating dummy item data${NORMAL}\n"
drush $PANTHEON_ALIAS scr ./profiles/hedley/modules/custom/hedley_data/dummy_data/create_dummy_data.php --item_nid=1
drush $PANTHEON_ALIAS scr ./profiles/hedley/modules/custom/hedley_data/dummy_data/create_dummy_data.php --item_nid=2

printf "${GREEN}Open site in browser.${NORMAL}\n"
drush $PANTHEON_ALIAS uli
