<div class="ui card">
    <div class="content">
        <div class="meta">
            <span class="date">24 Dec, 2016</span>
        </div>
        <div class="description">
            <p>
                I've noticed that it's the 4th time in the past week
                that we have an average of 16% increase in consumption.
            </p>

            <p>
                While it is below the alert threshold, I wanted to
                notify you the spikes have occured on:

                <ul>
                    <li>Monday (4 Dec), 09:13</li>
                    <li>Wednesday (6 Dec), 09:23</li>
                    <li>Friday (8 Dec), 09:12</li>
                    <li>Monday (10 Dec), 10:01</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="extra content">
        <div class="description">
            <p>
                <i class="help sign icon"></i> The way I calculate
                the spikes is by looking at activity that reaches up to 5%
                below the threshold.
            </p>
        </div>
    </div>
</div>
