<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
            </a>
            <a class="active item">Home</a>
            <a class="item">Map View</a>
            <a class="item">History</a>
            <div class="right item">
                <a class="ui inverted button">Logout</a>
            </div>
        </div>
    </div>
</div>
