{% if include.top == true %}
    <!-- Sidebar menu - responsive only -->
    <div class="ui sidebar inverted vertical menu">
        <a class="item" href="./login.html">
            <h4 class="ui grey header">John Doe</h4>
            <p>Sign Out</p>
        </a>
        <a class="item" href="./dashboard.html">
        Dashboard
      </a>
        <a class="active gray item" href="./sales.html">
        Sales
        <div class="ui label">11</div>
      </a>
        <a class="item" href="./products.html">
        Products
        <div class="ui label">2</div>
      </a>
        <a class="item" href="./customers.html">
        Customers
      </a>
        <a class="item" href="./employees.html">
        Employees
      </a>
    </div>
{% else %}
    <!-- Non-responsive menu -->
    <div class="ui left fixed vertical inverted menu">
      <a class="item" href="./login.html">
        <h4 class="ui grey header">John Doe</h4>
        <p>Sign Out</p>
      </a>
      <a class="item" href="./dashboard.html">
        Dashboard
      </a>
      <a class="active gray item" href="./sales.html">
        Sales
        <div class="ui label">11</div>
      </a>
      <a class="item" href="./products.html">
        Products
        <div class="ui label">2</div>
      </a>
      <a class="item" href="./customers.html">
        Customers
      </a>
      <a class="item" href="./employees.html">
        Employees
      </a>
    </div>
{% endif %}
